@tailwind base;
@tailwind components;
@tailwind utilities;

/* --bg-color: #0f172a;
     --acc-color: #334155;
     --txt-color: #64748b;
     --heading: #cbd5e1; */


     small {
        left: calc(50% - 50px);
     }

     body {
  font-family: 'Inter', sans-serif;
}


.custom-ag-grid.ag-theme-quartz {
  border-radius: 0.5rem;
  overflow: hidden;
}


.custom-ag-grid .ag-header {
  background: #D9D9D9;
  color: #111827;
  font-weight: 700;
}

.custom-ag-grid .ag-header-cell .ag-header-cell-label {
  padding: 14px 18px; 
  display: flex;
  align-items: center;
    color: #000;
    font-weight: 700;
}


.custom-ag-grid .ag-header-cell {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}


.custom-ag-grid .ag-cell {
  padding: 12px 16px !important; 
  align-items: center;          
  display: flex;                
  font-size: 0.95rem;
  line-height: 1.2;
}


.custom-ag-grid .ag-cell .ag-cell-value {
  white-space: normal;
  word-break: break-word;
}


.custom-ag-grid .ag-row.ag-row-hover,
.custom-ag-grid .ag-row:hover {
  background-color: #fbfdfe;
  cursor: pointer;
}

.custom-ag-grid .ag-header-cell-label .ag-header-icon {
  color: #111827;
}

.custom-select-padding .ant-select-selector {
  height: 48px !important;
  padding: 12px 14px !important;
  display: flex;
  align-items: center;
  font-size: 16px;
}
